.contact-section{
    margin: 2rem 1rem;
    .contact-form-wrapper{
        width: 16.5rem;
        margin: 2rem auto;
        .contactForm{
            display: flex;
            flex-direction: column;

            input {
                width: auto;
                margin: 1rem;
            }
            textarea{
                width: auto;
                margin: 1rem;
                resize: none;
            }
            button{
                width: 6rem;
                margin: 1rem 1rem 1rem auto;
            }
        }
    }
}
