.contact-section{
    margin: 2rem 1rem;
    max-width: 650px;
    .contact-form-wrapper{
        max-width: 20rem;
        margin: 2rem auto;
        .contactForm{
            display: flex;
            flex-direction: column;

            input {
                width: auto;
                margin: 1rem;
            }
            textarea{
                width: auto;
                height: 8rem;
                margin: 1rem;
                resize: none;
            }
            button{
                width: 6rem;
                margin: 1rem 1rem 1rem auto;
            }
        }
    }
}


@media only screen and (min-width: 675px){

    #contact{
        margin: 2rem auto;
    }
}