.contact-section{
    margin-top: 2rem;
    .contact-form-wrapper{
        width: 262px;
        margin: 2rem auto;
        .contactForm{
            display: flex;
            flex-direction: column;

            input {
                width: 250px;
                margin: 1rem;
            }
            textarea{
                width: 250px;
                margin: 1rem;
            }
            button{
                width: 6rem;
                margin: 1rem 0 1rem auto;
            }
        }
    }
}
