.infoSectionWrapper{
margin-top: 1rem;
    .infoFlex {
        display: flex;
        justify-content: center;
        justify-content: space-evenly;
        width: 100%;
        flex-wrap: wrap;
        .infoItems{
            max-width: 300px;
            min-width: 200px;

            margin: 1rem 2rem;
        }
        h2{
            text-align: center;
            margin-top: 0.5rem;
        }
        p{
            margin: 0 1.5rem;
        }
    }    
}

