.welcome-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
}
    .banner-wrapper {
        position: relative;
        display: inline-block; // Ensures the div wraps around the image

        .banner-content {
            position: absolute;
            top: 50%;
            left: 50%; 
            transform: translate(-50%, -50%);
            text-align: center;
            color: white;
            .banner-title {
                font-size: 2rem;
                margin: 1rem 0;
            }
            .banner-message {
                // font-size: 1.5rem;
                min-width: 16rem; 
                text-align: left;
            }
        }
        .banner-image{
            margin-top: 3rem;
            max-height: 60dvh;
            width: 100vw;
        }
}

    .contact-button{
        background-color: #f8f9fa;
        color: black;
        border: 1px solid black;
        padding: 0.5rem 0.75rem;
        text-decoration: none;
        display: inline-block;
        transition: all 0.3s ease-in-out;
        border-radius: 5px;
        margin: 2rem auto 0;
        text-align: center;
        &:hover{
            background-color: black;
            color: white;
        }
    }
